* {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: wheat;
  color: rgb(10, 0, 0);
  padding-top: 180px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: rgb(23, 68, 41);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
